<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>asteroid_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{35,35}</string>
                <key>spriteSourceSize</key>
                <string>{35,35}</string>
                <key>textureRect</key>
                <string>{{435,192},{35,35}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>asteroid_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{35,44}</string>
                <key>spriteSourceSize</key>
                <string>{35,44}</string>
                <key>textureRect</key>
                <string>{{438,69},{35,44}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>asteroid_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{35,43}</string>
                <key>spriteSourceSize</key>
                <string>{35,43}</string>
                <key>textureRect</key>
                <string>{{355,153},{35,43}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>game-over.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{300,39}</string>
                <key>spriteSourceSize</key>
                <string>{300,39}</string>
                <key>textureRect</key>
                <string>{{1,135},{300,39}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>game-title.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{258,132}</string>
                <key>spriteSourceSize</key>
                <string>{258,132}</string>
                <key>textureRect</key>
                <string>{{1,1},{258,132}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>pause-sel.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{39,39}</string>
                <key>spriteSourceSize</key>
                <string>{39,39}</string>
                <key>textureRect</key>
                <string>{{355,198},{39,39}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>pause-std.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{39,39}</string>
                <key>spriteSourceSize</key>
                <string>{39,39}</string>
                <key>textureRect</key>
                <string>{{392,153},{39,39}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>play-sel.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{164,23}</string>
                <key>spriteSourceSize</key>
                <string>{164,23}</string>
                <key>textureRect</key>
                <string>{{1,214},{164,23}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>play-std.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{164,23}</string>
                <key>spriteSourceSize</key>
                <string>{164,23}</string>
                <key>textureRect</key>
                <string>{{167,214},{164,23}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>player.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{38,66}</string>
                <key>spriteSourceSize</key>
                <string>{38,66}</string>
                <key>textureRect</key>
                <string>{{438,1},{38,66}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>replay-sel.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{175,36}</string>
                <key>spriteSourceSize</key>
                <string>{175,36}</string>
                <key>textureRect</key>
                <string>{{1,176},{175,36}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>replay-std.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{175,36}</string>
                <key>spriteSourceSize</key>
                <string>{175,36}</string>
                <key>textureRect</key>
                <string>{{261,1},{175,36}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>resume-sel.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{175,36}</string>
                <key>spriteSourceSize</key>
                <string>{175,36}</string>
                <key>textureRect</key>
                <string>{{261,39},{175,36}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>resume-std.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{175,36}</string>
                <key>spriteSourceSize</key>
                <string>{175,36}</string>
                <key>textureRect</key>
                <string>{{261,77},{175,36}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>sound_off.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{37,37}</string>
                <key>spriteSourceSize</key>
                <string>{37,37}</string>
                <key>textureRect</key>
                <string>{{433,153},{37,37}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>sound_on.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{37,37}</string>
                <key>spriteSourceSize</key>
                <string>{37,37}</string>
                <key>textureRect</key>
                <string>{{396,194},{37,37}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>splash-sel.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{175,36}</string>
                <key>spriteSourceSize</key>
                <string>{175,36}</string>
                <key>textureRect</key>
                <string>{{178,176},{175,36}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>splash-std.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{175,36}</string>
                <key>spriteSourceSize</key>
                <string>{175,36}</string>
                <key>textureRect</key>
                <string>{{303,115},{175,36}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>realTextureFileName</key>
            <string>sprite_sheet.png</string>
            <key>size</key>
            <string>{479,238}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:559d95720b1c963b4f3affe8e20e71c7:ea9abcc5f2ef71c8abdee069f89dfdd8:15058cce2ad93a426e9374343a733a78$</string>
            <key>textureFileName</key>
            <string>sprite_sheet.png</string>
        </dict>
    </dict>
</plist>
