<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>asteroid_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{70,70}</string>
                <key>spriteSourceSize</key>
                <string>{70,70}</string>
                <key>textureRect</key>
                <string>{{705,386},{70,70}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>asteroid_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{70,87}</string>
                <key>spriteSourceSize</key>
                <string>{70,87}</string>
                <key>textureRect</key>
                <string>{{705,297},{70,87}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>asteroid_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{70,85}</string>
                <key>spriteSourceSize</key>
                <string>{70,85}</string>
                <key>textureRect</key>
                <string>{{870,135},{70,85}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>game-over.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{600,78}</string>
                <key>spriteSourceSize</key>
                <string>{600,78}</string>
                <key>textureRect</key>
                <string>{{1,267},{600,78}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>game-title.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{515,264}</string>
                <key>spriteSourceSize</key>
                <string>{515,264}</string>
                <key>textureRect</key>
                <string>{{1,1},{515,264}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>pause-sel.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{77,77}</string>
                <key>spriteSourceSize</key>
                <string>{77,77}</string>
                <key>textureRect</key>
                <string>{{777,297},{77,77}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>pause-std.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{77,77}</string>
                <key>spriteSourceSize</key>
                <string>{77,77}</string>
                <key>textureRect</key>
                <string>{{856,297},{77,77}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>play-sel.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{328,46}</string>
                <key>spriteSourceSize</key>
                <string>{328,46}</string>
                <key>textureRect</key>
                <string>{{1,421},{328,46}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>play-std.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{328,46}</string>
                <key>spriteSourceSize</key>
                <string>{328,46}</string>
                <key>textureRect</key>
                <string>{{331,421},{328,46}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>player.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{75,132}</string>
                <key>spriteSourceSize</key>
                <string>{75,132}</string>
                <key>textureRect</key>
                <string>{{870,1},{75,132}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>replay-sel.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{350,72}</string>
                <key>spriteSourceSize</key>
                <string>{350,72}</string>
                <key>textureRect</key>
                <string>{{1,347},{350,72}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>replay-std.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{350,72}</string>
                <key>spriteSourceSize</key>
                <string>{350,72}</string>
                <key>textureRect</key>
                <string>{{518,1},{350,72}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>resume-sel.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{350,72}</string>
                <key>spriteSourceSize</key>
                <string>{350,72}</string>
                <key>textureRect</key>
                <string>{{518,75},{350,72}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>resume-std.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{350,72}</string>
                <key>spriteSourceSize</key>
                <string>{350,72}</string>
                <key>textureRect</key>
                <string>{{518,149},{350,72}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>sound_off.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{75,75}</string>
                <key>spriteSourceSize</key>
                <string>{75,75}</string>
                <key>textureRect</key>
                <string>{{777,376},{75,75}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>sound_on.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{75,75}</string>
                <key>spriteSourceSize</key>
                <string>{75,75}</string>
                <key>textureRect</key>
                <string>{{854,376},{75,75}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>splash-sel.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{350,72}</string>
                <key>spriteSourceSize</key>
                <string>{350,72}</string>
                <key>textureRect</key>
                <string>{{353,347},{350,72}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>splash-std.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{350,72}</string>
                <key>spriteSourceSize</key>
                <string>{350,72}</string>
                <key>textureRect</key>
                <string>{{603,223},{350,72}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>realTextureFileName</key>
            <string>sprite_sheet.png</string>
            <key>size</key>
            <string>{954,468}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:560e92f86b19beb3abe5503620e2386a:94c651441bf6fb407f7c5370c0f52de5:15058cce2ad93a426e9374343a733a78$</string>
            <key>textureFileName</key>
            <string>sprite_sheet.png</string>
        </dict>
    </dict>
</plist>
