<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bomb.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{57,75}</string>
                <key>spriteSourceSize</key>
                <string>{57,75}</string>
                <key>textureRect</key>
                <string>{{133,82},{57,75}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>mute.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{70,70}</string>
                <key>spriteSourceSize</key>
                <string>{70,70}</string>
                <key>textureRect</key>
                <string>{{315,77},{70,70}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>pause.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{72,74}</string>
                <key>spriteSourceSize</key>
                <string>{72,74}</string>
                <key>textureRect</key>
                <string>{{315,1},{72,74}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>pause_pressed.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{72,74}</string>
                <key>spriteSourceSize</key>
                <string>{72,74}</string>
                <key>textureRect</key>
                <string>{{389,1},{72,74}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>play.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,1}</string>
                <key>spriteSize</key>
                <string>{64,64}</string>
                <key>spriteSourceSize</key>
                <string>{72,74}</string>
                <key>textureRect</key>
                <string>{{1,82},{64,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>play_pressed.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,1}</string>
                <key>spriteSize</key>
                <string>{64,64}</string>
                <key>spriteSourceSize</key>
                <string>{72,74}</string>
                <key>textureRect</key>
                <string>{{67,82},{64,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>player.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{79,158}</string>
                <key>spriteSourceSize</key>
                <string>{81,158}</string>
                <key>textureRect</key>
                <string>{{1,1},{79,158}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>player2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{79,152}</string>
                <key>spriteSourceSize</key>
                <string>{81,158}</string>
                <key>textureRect</key>
                <string>{{161,1},{79,152}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>unmute.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{70,70}</string>
                <key>spriteSourceSize</key>
                <string>{70,70}</string>
                <key>textureRect</key>
                <string>{{387,77},{70,70}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>images.png</string>
            <key>size</key>
            <string>{462,148}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:9d79f7a8fb911e2a8d083567ef44f8b7:2bb4d813bbacb7b5fcf282061d43225e:60addf9ae60c68fcac7c9ae5b48fe29a$</string>
            <key>textureFileName</key>
            <string>images.png</string>
        </dict>
    </dict>
</plist>
