<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>EnemyDie.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{62,99}</string>
                <key>spriteSourceSize</key>
                <string>{62,99}</string>
                <key>textureRect</key>
                <string>{{433,322},{62,99}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>EnemyGun.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{63,26}</string>
                <key>spriteSourceSize</key>
                <string>{63,26}</string>
                <key>textureRect</key>
                <string>{{405,322},{63,26}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>bazuka.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{73,100}</string>
                <key>spriteSourceSize</key>
                <string>{73,100}</string>
                <key>textureRect</key>
                <string>{{1713,187},{73,100}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>bullet.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{7,7}</string>
                <key>spriteSourceSize</key>
                <string>{7,7}</string>
                <key>textureRect</key>
                <string>{{824,201},{7,7}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>enemy.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{63,99}</string>
                <key>spriteSourceSize</key>
                <string>{63,99}</string>
                <key>textureRect</key>
                <string>{{138,322},{63,99}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>enemy_idle_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{62,98}</string>
                <key>spriteSourceSize</key>
                <string>{62,98}</string>
                <key>textureRect</key>
                <string>{{635,322},{62,98}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>enemy_idle_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{62,98}</string>
                <key>spriteSourceSize</key>
                <string>{62,98}</string>
                <key>textureRect</key>
                <string>{{735,322},{62,98}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>enemy_idle_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{63,99}</string>
                <key>spriteSourceSize</key>
                <string>{63,99}</string>
                <key>textureRect</key>
                <string>{{239,322},{63,99}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>enemy_idle_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{62,99}</string>
                <key>spriteSourceSize</key>
                <string>{62,99}</string>
                <key>textureRect</key>
                <string>{{534,322},{62,99}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>grass.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{801,42}</string>
                <key>spriteSourceSize</key>
                <string>{801,42}</string>
                <key>textureRect</key>
                <string>{{1059,143},{801,42}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ground.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{802,140}</string>
                <key>spriteSourceSize</key>
                <string>{802,140}</string>
                <key>textureRect</key>
                <string>{{1003,1},{802,140}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hills.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{801,186}</string>
                <key>spriteSourceSize</key>
                <string>{801,186}</string>
                <key>textureRect</key>
                <string>{{835,201},{801,186}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mainmenu.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{70,65}</string>
                <key>spriteSourceSize</key>
                <string>{70,65}</string>
                <key>textureRect</key>
                <string>{{1,322},{70,65}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>options.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{68,67}</string>
                <key>spriteSourceSize</key>
                <string>{68,67}</string>
                <key>textureRect</key>
                <string>{{1965,233},{68,67}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>pause.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{54,56}</string>
                <key>spriteSourceSize</key>
                <string>{54,56}</string>
                <key>textureRect</key>
                <string>{{1003,143},{54,56}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>play.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{197,198}</string>
                <key>spriteSourceSize</key>
                <string>{197,198}</string>
                <key>textureRect</key>
                <string>{{804,1},{197,198}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>player.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-4,6}</string>
                <key>spriteSize</key>
                <string>{118,116}</string>
                <key>spriteSourceSize</key>
                <string>{128,128}</string>
                <key>textureRect</key>
                <string>{{1807,1},{118,116}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>player_boost_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{73,101}</string>
                <key>spriteSourceSize</key>
                <string>{73,101}</string>
                <key>textureRect</key>
                <string>{{1925,1},{73,101}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>player_boost_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{73,101}</string>
                <key>spriteSourceSize</key>
                <string>{73,101}</string>
                <key>textureRect</key>
                <string>{{1925,76},{73,101}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>player_boost_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{73,101}</string>
                <key>spriteSourceSize</key>
                <string>{73,101}</string>
                <key>textureRect</key>
                <string>{{1862,151},{73,101}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>player_boost_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{73,101}</string>
                <key>spriteSourceSize</key>
                <string>{73,101}</string>
                <key>textureRect</key>
                <string>{{1638,233},{73,101}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>player_idle_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{73,100}</string>
                <key>spriteSourceSize</key>
                <string>{73,100}</string>
                <key>textureRect</key>
                <string>{{1713,262},{73,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>player_idle_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{73,100}</string>
                <key>spriteSourceSize</key>
                <string>{73,100}</string>
                <key>textureRect</key>
                <string>{{1788,262},{73,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>player_idle_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{73,100}</string>
                <key>spriteSourceSize</key>
                <string>{73,100}</string>
                <key>textureRect</key>
                <string>{{1863,226},{73,100}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>player_idle_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{73,100}</string>
                <key>spriteSourceSize</key>
                <string>{73,100}</string>
                <key>textureRect</key>
                <string>{{1863,301},{73,100}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>resume.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{80,68}</string>
                <key>spriteSourceSize</key>
                <string>{80,68}</string>
                <key>textureRect</key>
                <string>{{1965,151},{80,68}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>rocket.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{18,13}</string>
                <key>spriteSourceSize</key>
                <string>{18,13}</string>
                <key>textureRect</key>
                <string>{{804,201},{18,13}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>soundOFF.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{63,65}</string>
                <key>spriteSourceSize</key>
                <string>{67,67}</string>
                <key>textureRect</key>
                <string>{{73,322},{63,65}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>soundON.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{63,63}</string>
                <key>spriteSourceSize</key>
                <string>{67,67}</string>
                <key>textureRect</key>
                <string>{{340,322},{63,63}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>treesNbush.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{801,319}</string>
                <key>spriteSourceSize</key>
                <string>{801,319}</string>
                <key>textureRect</key>
                <string>{{1,1},{801,319}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>realTextureFileName</key>
            <string>images.png</string>
            <key>size</key>
            <string>{2034,388}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:5eaec841dd6ffbf8be5abc33df36e5b7:b1b1239e2994e47357079af1f47515c6:15058cce2ad93a426e9374343a733a78$</string>
            <key>textureFileName</key>
            <string>images.png</string>
        </dict>
    </dict>
</plist>
