<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>TD_1Xbtn.png</key>
            <dict>
                <key>frame</key>
                <string>{{1761,678},{139,83}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,0},{139,83}}</string>
                <key>sourceSize</key>
                <string>{143,83}</string>
            </dict>
            <key>TD_2Xbtn.png</key>
            <dict>
                <key>frame</key>
                <string>{{1771,533},{143,83}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{143,83}}</string>
                <key>sourceSize</key>
                <string>{143,83}</string>
            </dict>
            <key>TD_bgbtn.png</key>
            <dict>
                <key>frame</key>
                <string>{{1880,285},{134,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{134,52}}</string>
                <key>sourceSize</key>
                <string>{134,52}</string>
            </dict>
            <key>TD_bullet01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1917,259},{19,19}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{19,19}}</string>
                <key>sourceSize</key>
                <string>{19,19}</string>
            </dict>
            <key>TD_bullet02.png</key>
            <dict>
                <key>frame</key>
                <string>{{1891,226},{31,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{31,31}}</string>
                <key>sourceSize</key>
                <string>{31,31}</string>
            </dict>
            <key>TD_bullet03.png</key>
            <dict>
                <key>frame</key>
                <string>{{1891,259},{24,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{24,24}}</string>
                <key>sourceSize</key>
                <string>{24,24}</string>
            </dict>
            <key>TD_hudbg.png</key>
            <dict>
                <key>frame</key>
                <string>{{1446,1},{1280,79}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1280,79}}</string>
                <key>sourceSize</key>
                <string>{1280,79}</string>
            </dict>
            <key>TD_livebg.png</key>
            <dict>
                <key>frame</key>
                <string>{{1891,81},{75,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{75,40}}</string>
                <key>sourceSize</key>
                <string>{75,40}</string>
            </dict>
            <key>TD_menubtn.png</key>
            <dict>
                <key>frame</key>
                <string>{{1718,903},{81,83}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{81,83}}</string>
                <key>sourceSize</key>
                <string>{81,83}</string>
            </dict>
            <key>TD_pausebtn.png</key>
            <dict>
                <key>frame</key>
                <string>{{1618,933},{81,83}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{81,83}}</string>
                <key>sourceSize</key>
                <string>{81,83}</string>
            </dict>
            <key>TD_pumbtn.png</key>
            <dict>
                <key>frame</key>
                <string>{{1527,1015},{81,83}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{81,83}}</string>
                <key>sourceSize</key>
                <string>{81,83}</string>
            </dict>
            <key>TD_pumkin_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1654,529},{115,110}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{115,110}}</string>
                <key>sourceSize</key>
                <string>{115,110}</string>
            </dict>
            <key>TD_pumkin_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{1527,558},{115,110}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{115,110}}</string>
                <key>sourceSize</key>
                <string>{115,110}</string>
            </dict>
            <key>TD_pumkin_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{1644,641},{115,110}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{115,110}}</string>
                <key>sourceSize</key>
                <string>{115,110}</string>
            </dict>
            <key>TD_pumkin_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{1819,892},{109,64}}</string>
                <key>offset</key>
                <string>{-1,-23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,46},{109,64}}</string>
                <key>sourceSize</key>
                <string>{115,110}</string>
            </dict>
            <key>TD_t01gun01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1891,158},{66,40}}</string>
                <key>offset</key>
                <string>{10,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{31,32},{66,40}}</string>
                <key>sourceSize</key>
                <string>{108,108}</string>
            </dict>
            <key>TD_t01gun02.png</key>
            <dict>
                <key>frame</key>
                <string>{{1891,1},{78,44}}</string>
                <key>offset</key>
                <string>{15,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{30,27},{78,44}}</string>
                <key>sourceSize</key>
                <string>{108,108}</string>
            </dict>
            <key>TD_t01gun03.png</key>
            <dict>
                <key>frame</key>
                <string>{{1757,1228},{80,50}}</string>
                <key>offset</key>
                <string>{14,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,26},{80,50}}</string>
                <key>sourceSize</key>
                <string>{108,108}</string>
            </dict>
            <key>TD_t02gun01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1851,1142},{72,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{72,86}}</string>
                <key>sourceSize</key>
                <string>{72,86}</string>
            </dict>
            <key>TD_t02gun02.png</key>
            <dict>
                <key>frame</key>
                <string>{{1612,1093},{79,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{79,75}}</string>
                <key>sourceSize</key>
                <string>{79,75}</string>
            </dict>
            <key>TD_t02gun03.png</key>
            <dict>
                <key>frame</key>
                <string>{{1600,1170},{71,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{71,66}}</string>
                <key>sourceSize</key>
                <string>{71,66}</string>
            </dict>
            <key>TD_t03gun01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1527,847},{89,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{89,82}}</string>
                <key>sourceSize</key>
                <string>{89,82}</string>
            </dict>
            <key>TD_t03gun02.png</key>
            <dict>
                <key>frame</key>
                <string>{{1627,845},{89,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{89,86}}</string>
                <key>sourceSize</key>
                <string>{89,86}</string>
            </dict>
            <key>TD_t03gun03.png</key>
            <dict>
                <key>frame</key>
                <string>{{1627,753},{92,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{92,90}}</string>
                <key>sourceSize</key>
                <string>{92,90}</string>
            </dict>
            <key>TD_tbase.png</key>
            <dict>
                <key>frame</key>
                <string>{{1527,931},{89,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{89,82}}</string>
                <key>sourceSize</key>
                <string>{89,82}</string>
            </dict>
            <key>TD_tiledbase.png</key>
            <dict>
                <key>frame</key>
                <string>{{1527,1},{362,272}}</string>
                <key>offset</key>
                <string>{-19,14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{362,272}}</string>
                <key>sourceSize</key>
                <string>{400,300}</string>
            </dict>
            <key>TD_tucancel02.png</key>
            <dict>
                <key>frame</key>
                <string>{{1695,1064},{75,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{75,80}}</string>
                <key>sourceSize</key>
                <string>{75,80}</string>
            </dict>
            <key>TD_tupdate01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1693,1141},{74,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{74,78}}</string>
                <key>sourceSize</key>
                <string>{74,78}</string>
            </dict>
            <key>TD_tw updateicon_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1803,958},{82,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{82,80}}</string>
                <key>sourceSize</key>
                <string>{82,80}</string>
            </dict>
            <key>TD_tw updateicon_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{1773,1153},{74,73}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{74,73}}</string>
                <key>sourceSize</key>
                <string>{74,73}</string>
            </dict>
            <key>TD_tw updateicon_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{1612,1016},{75,81}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{75,81}}</string>
                <key>sourceSize</key>
                <string>{75,81}</string>
            </dict>
            <key>TW path-1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{1280,721}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1280,721}}</string>
                <key>sourceSize</key>
                <string>{1280,721}</string>
            </dict>
            <key>TW path-2.png</key>
            <dict>
                <key>frame</key>
                <string>{{724,1},{1280,720}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1280,720}}</string>
                <key>sourceSize</key>
                <string>{1280,720}</string>
            </dict>
            <key>TWplaybtn.png</key>
            <dict>
                <key>frame</key>
                <string>{{1527,275},{154,162}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{154,162}}</string>
                <key>sourceSize</key>
                <string>{154,162}</string>
            </dict>
            <key>enemy_010001.png</key>
            <dict>
                <key>frame</key>
                <string>{{1673,1217},{82,54}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,0},{82,54}}</string>
                <key>sourceSize</key>
                <string>{102,54}</string>
            </dict>
            <key>enemy_010002.png</key>
            <dict>
                <key>frame</key>
                <string>{{1887,958},{102,50}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,1},{102,50}}</string>
                <key>sourceSize</key>
                <string>{102,54}</string>
            </dict>
            <key>enemy_020001.png</key>
            <dict>
                <key>frame</key>
                <string>{{1880,421},{113,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{113,58}}</string>
                <key>sourceSize</key>
                <string>{113,58}</string>
            </dict>
            <key>enemy_020002.png</key>
            <dict>
                <key>frame</key>
                <string>{{1791,1040},{111,58}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{111,58}}</string>
                <key>sourceSize</key>
                <string>{113,58}</string>
            </dict>
            <key>enemy_030001.png</key>
            <dict>
                <key>frame</key>
                <string>{{1527,1171},{70,61}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{70,61}}</string>
                <key>sourceSize</key>
                <string>{70,65}</string>
            </dict>
            <key>enemy_030002.png</key>
            <dict>
                <key>frame</key>
                <string>{{1849,1216},{70,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,65}}</string>
                <key>sourceSize</key>
                <string>{70,65}</string>
            </dict>
            <key>enemy_040001.png</key>
            <dict>
                <key>frame</key>
                <string>{{1851,1062},{82,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{82,78}}</string>
                <key>sourceSize</key>
                <string>{86,78}</string>
            </dict>
            <key>enemy_040002.png</key>
            <dict>
                <key>frame</key>
                <string>{{1703,986},{86,76}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{86,76}}</string>
                <key>sourceSize</key>
                <string>{86,78}</string>
            </dict>
            <key>enemy_050001.png</key>
            <dict>
                <key>frame</key>
                <string>{{1856,536},{136,72}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{136,72}}</string>
                <key>sourceSize</key>
                <string>{136,74}</string>
            </dict>
            <key>enemy_050002.png</key>
            <dict>
                <key>frame</key>
                <string>{{1856,674},{116,72}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,0},{116,72}}</string>
                <key>sourceSize</key>
                <string>{136,74}</string>
            </dict>
            <key>enemy_060001.png</key>
            <dict>
                <key>frame</key>
                <string>{{1818,405},{126,60}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{126,60}}</string>
                <key>sourceSize</key>
                <string>{128,64}</string>
            </dict>
            <key>enemy_060002.png</key>
            <dict>
                <key>frame</key>
                <string>{{1818,275},{128,60}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,4},{128,60}}</string>
                <key>sourceSize</key>
                <string>{128,64}</string>
            </dict>
            <key>enemy_070001.png</key>
            <dict>
                <key>frame</key>
                <string>{{1527,763},{98,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{98,82}}</string>
                <key>sourceSize</key>
                <string>{98,82}</string>
            </dict>
            <key>enemy_070002.png</key>
            <dict>
                <key>frame</key>
                <string>{{1721,819},{96,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{96,82}}</string>
                <key>sourceSize</key>
                <string>{98,82}</string>
            </dict>
            <key>enemy_080001.png</key>
            <dict>
                <key>frame</key>
                <string>{{1846,792},{98,91}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{98,91}}</string>
                <key>sourceSize</key>
                <string>{98,91}</string>
            </dict>
            <key>enemy_080002.png</key>
            <dict>
                <key>frame</key>
                <string>{{1527,670},{98,91}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{98,91}}</string>
                <key>sourceSize</key>
                <string>{98,91}</string>
            </dict>
            <key>green_bar.png</key>
            <dict>
                <key>frame</key>
                <string>{{1933,81},{60,5}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,5}}</string>
                <key>sourceSize</key>
                <string>{60,5}</string>
            </dict>
            <key>red_bar.png</key>
            <dict>
                <key>frame</key>
                <string>{{1933,143},{60,5}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,5}}</string>
                <key>sourceSize</key>
                <string>{60,5}</string>
            </dict>
            <key>swipe_left.png</key>
            <dict>
                <key>frame</key>
                <string>{{1691,275},{125,125}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{125,125}}</string>
                <key>sourceSize</key>
                <string>{125,125}</string>
            </dict>
            <key>swipe_right.png</key>
            <dict>
                <key>frame</key>
                <string>{{1691,402},{125,125}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{125,125}}</string>
                <key>sourceSize</key>
                <string>{125,125}</string>
            </dict>
            <key>swipe_up.png</key>
            <dict>
                <key>frame</key>
                <string>{{1527,431},{125,125}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{125,125}}</string>
                <key>sourceSize</key>
                <string>{125,125}</string>
            </dict>
            <key>tw_adtoicon.png</key>
            <dict>
                <key>frame</key>
                <string>{{1527,1098},{71,71}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{71,71}}</string>
                <key>sourceSize</key>
                <string>{71,71}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>images.png</string>
            <key>size</key>
            <string>{1939,1282}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:3e1be2b3592f4f0686156df5428c8ab8:be2c793ee5b682ae2139a9a4a69654b2:e1a9b31caf258d7c92150a6ccbde6fbd$</string>
            <key>textureFileName</key>
            <string>images.png</string>
        </dict>
    </dict>
</plist>
