<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>asteroid_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{140,140}</string>
                <key>spriteSourceSize</key>
                <string>{140,140}</string>
                <key>textureRect</key>
                <string>{{760,1769},{140,140}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>asteroid_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{140,173}</string>
                <key>spriteSourceSize</key>
                <string>{140,173}</string>
                <key>textureRect</key>
                <string>{{585,1769},{140,173}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>asteroid_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{140,169}</string>
                <key>spriteSourceSize</key>
                <string>{140,169}</string>
                <key>textureRect</key>
                <string>{{267,1735},{140,169}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>game-over.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1200,155}</string>
                <key>spriteSourceSize</key>
                <string>{1200,155}</string>
                <key>textureRect</key>
                <string>{{531,1},{1200,155}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>game-title.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1030,528}</string>
                <key>spriteSourceSize</key>
                <string>{1030,528}</string>
                <key>textureRect</key>
                <string>{{1,1},{1030,528}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>pause-sel.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{154,154}</string>
                <key>spriteSourceSize</key>
                <string>{154,154}</string>
                <key>textureRect</key>
                <string>{{767,1405},{154,154}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>pause-std.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{154,154}</string>
                <key>spriteSourceSize</key>
                <string>{154,154}</string>
                <key>textureRect</key>
                <string>{{767,1561},{154,154}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>play-sel.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{656,92}</string>
                <key>spriteSourceSize</key>
                <string>{656,92}</string>
                <key>textureRect</key>
                <string>{{834,1},{656,92}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>play-std.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{656,92}</string>
                <key>spriteSourceSize</key>
                <string>{656,92}</string>
                <key>textureRect</key>
                <string>{{834,659},{656,92}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>player.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{150,264}</string>
                <key>spriteSourceSize</key>
                <string>{150,264}</string>
                <key>textureRect</key>
                <string>{{1,1735},{150,264}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>replay-sel.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{700,144}</string>
                <key>spriteSourceSize</key>
                <string>{700,144}</string>
                <key>textureRect</key>
                <string>{{1,1033},{700,144}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>replay-std.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{700,144}</string>
                <key>spriteSourceSize</key>
                <string>{700,144}</string>
                <key>textureRect</key>
                <string>{{688,1},{700,144}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>resume-sel.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{700,144}</string>
                <key>spriteSourceSize</key>
                <string>{700,144}</string>
                <key>textureRect</key>
                <string>{{147,1033},{700,144}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>resume-std.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{700,144}</string>
                <key>spriteSourceSize</key>
                <string>{700,144}</string>
                <key>textureRect</key>
                <string>{{293,1033},{700,144}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>sound_off.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{180,180}</string>
                <key>spriteSourceSize</key>
                <string>{180,180}</string>
                <key>textureRect</key>
                <string>{{585,1405},{180,180}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>sound_on.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{180,180}</string>
                <key>spriteSourceSize</key>
                <string>{180,180}</string>
                <key>textureRect</key>
                <string>{{585,1587},{180,180}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>splash-sel.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{700,144}</string>
                <key>spriteSourceSize</key>
                <string>{700,144}</string>
                <key>textureRect</key>
                <string>{{688,703},{700,144}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>splash-std.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{700,144}</string>
                <key>spriteSourceSize</key>
                <string>{700,144}</string>
                <key>textureRect</key>
                <string>{{439,1203},{700,144}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>realTextureFileName</key>
            <string>sprite_sheet.png</string>
            <key>size</key>
            <string>{927,1910}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:d8ab2ed5dbbf688d6ad00dba93e4b732:01d1a8692e00e923fa017e3fb0bee9c5:15058cce2ad93a426e9374343a733a78$</string>
            <key>textureFileName</key>
            <string>sprite_sheet.png</string>
        </dict>
    </dict>
</plist>
