<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Asteroid_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{679,1717},{140,140}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{140,140}}</string>
                <key>sourceSize</key>
                <string>{140,140}</string>
            </dict>
            <key>Asteroid_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{153,1735},{140,173}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{140,173}}</string>
                <key>sourceSize</key>
                <string>{140,173}</string>
            </dict>
            <key>Asteroid_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{295,1735},{140,169}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{140,169}}</string>
                <key>sourceSize</key>
                <string>{140,169}</string>
            </dict>
            <key>Game_Over.png</key>
            <dict>
                <key>frame</key>
                <string>{{531,1},{1200,155}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1200,155}}</string>
                <key>sourceSize</key>
                <string>{1200,155}</string>
            </dict>
            <key>Game_Title.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{1030,528}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1030,528}}</string>
                <key>sourceSize</key>
                <string>{1030,528}</string>
            </dict>
            <key>Menu_Button.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1033},{700,144}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{700,144}}</string>
                <key>sourceSize</key>
                <string>{700,144}</string>
            </dict>
            <key>Menu_Button_Sel.png</key>
            <dict>
                <key>frame</key>
                <string>{{688,1},{700,144}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{700,144}}</string>
                <key>sourceSize</key>
                <string>{700,144}</string>
            </dict>
            <key>Pause_Button.png</key>
            <dict>
                <key>frame</key>
                <string>{{679,1405},{154,154}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{154,154}}</string>
                <key>sourceSize</key>
                <string>{154,154}</string>
            </dict>
            <key>Pause_Button_Sel.png</key>
            <dict>
                <key>frame</key>
                <string>{{679,1561},{154,154}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{154,154}}</string>
                <key>sourceSize</key>
                <string>{154,154}</string>
            </dict>
            <key>Play_Button.png</key>
            <dict>
                <key>frame</key>
                <string>{{585,1203},{656,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{656,92}}</string>
                <key>sourceSize</key>
                <string>{656,92}</string>
            </dict>
            <key>Play_Button_Sel.png</key>
            <dict>
                <key>frame</key>
                <string>{{153,1910},{656,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{656,92}}</string>
                <key>sourceSize</key>
                <string>{656,92}</string>
            </dict>
            <key>Resume_Button.png</key>
            <dict>
                <key>frame</key>
                <string>{{147,1033},{700,144}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{700,144}}</string>
                <key>sourceSize</key>
                <string>{700,144}</string>
            </dict>
            <key>Resume_Button_Sel.png</key>
            <dict>
                <key>frame</key>
                <string>{{293,1033},{700,144}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{700,144}}</string>
                <key>sourceSize</key>
                <string>{700,144}</string>
            </dict>
            <key>Retry_Button.png</key>
            <dict>
                <key>frame</key>
                <string>{{688,703},{700,144}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{700,144}}</string>
                <key>sourceSize</key>
                <string>{700,144}</string>
            </dict>
            <key>Retry_Button_Sel.png</key>
            <dict>
                <key>frame</key>
                <string>{{439,1203},{700,144}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{700,144}}</string>
                <key>sourceSize</key>
                <string>{700,144}</string>
            </dict>
            <key>Space_Pod.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1735},{150,264}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,264}}</string>
                <key>sourceSize</key>
                <string>{150,264}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>dlist.png</string>
            <key>size</key>
            <string>{854,2003}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:ee575e8244d280b333c304517947d1c3:55bf20041d6f756bf8f0a74b00da2ccb:ec5eab6b942c6459a2a742d1a182e444$</string>
            <key>textureFileName</key>
            <string>dlist.png</string>
        </dict>
    </dict>
</plist>
