<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>cancel.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{126,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{126,38}}</string>
                <key>sourceSize</key>
                <string>{126,38}</string>
            </dict>
            <key>continue.png</key>
            <dict>
                <key>frame</key>
                <string>{{130,2},{126,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{126,38}}</string>
                <key>sourceSize</key>
                <string>{126,38}</string>
            </dict>
            <key>goback.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,42},{126,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{126,38}}</string>
                <key>sourceSize</key>
                <string>{126,38}</string>
            </dict>
            <key>icon_back.png</key>
            <dict>
                <key>frame</key>
                <string>{{130,170},{37,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{37,37}}</string>
                <key>sourceSize</key>
                <string>{37,37}</string>
            </dict>
            <key>icon_menu.png</key>
            <dict>
                <key>frame</key>
                <string>{{169,170},{37,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{37,37}}</string>
                <key>sourceSize</key>
                <string>{37,37}</string>
            </dict>
            <key>icon_quit.png</key>
            <dict>
                <key>frame</key>
                <string>{{208,170},{37,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{37,37}}</string>
                <key>sourceSize</key>
                <string>{37,37}</string>
            </dict>
            <key>icon_replay.png</key>
            <dict>
                <key>frame</key>
                <string>{{130,209},{37,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{37,37}}</string>
                <key>sourceSize</key>
                <string>{37,37}</string>
            </dict>
            <key>ok.png</key>
            <dict>
                <key>frame</key>
                <string>{{42,42},{126,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{126,38}}</string>
                <key>sourceSize</key>
                <string>{126,38}</string>
            </dict>
            <key>online.png</key>
            <dict>
                <key>frame</key>
                <string>{{82,42},{126,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{126,38}}</string>
                <key>sourceSize</key>
                <string>{126,38}</string>
            </dict>
            <key>options.png</key>
            <dict>
                <key>frame</key>
                <string>{{122,130},{126,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{126,38}}</string>
                <key>sourceSize</key>
                <string>{126,38}</string>
            </dict>
            <key>play.png</key>
            <dict>
                <key>frame</key>
                <string>{{170,2},{126,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{126,38}}</string>
                <key>sourceSize</key>
                <string>{126,38}</string>
            </dict>
            <key>player1.png</key>
            <dict>
                <key>frame</key>
                <string>{{210,2},{126,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{126,38}}</string>
                <key>sourceSize</key>
                <string>{126,38}</string>
            </dict>
            <key>player2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,170},{126,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{126,38}}</string>
                <key>sourceSize</key>
                <string>{126,38}</string>
            </dict>
            <key>quit.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,210},{126,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{126,38}}</string>
                <key>sourceSize</key>
                <string>{126,38}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>images.png</string>
            <key>size</key>
            <string>{250,250}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:8a8d36b50f4560fe1051343fa8602dd5:72c0f25a364fb9cb41f818ee2093607b:e1a9b31caf258d7c92150a6ccbde6fbd$</string>
            <key>textureFileName</key>
            <string>images.png</string>
        </dict>
    </dict>
</plist>
