<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>diamondScore.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{157,70}</string>
                <key>spriteSourceSize</key>
                <string>{157,70}</string>
                <key>textureRect</key>
                <string>{{618,189},{157,70}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gameOver.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{356,201}</string>
                <key>spriteSourceSize</key>
                <string>{356,201}</string>
                <key>textureRect</key>
                <string>{{415,1},{356,201}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>gem_blue.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{66,66}</string>
                <key>spriteSourceSize</key>
                <string>{68,68}</string>
                <key>textureRect</key>
                <string>{{731,374},{66,66}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gem_green.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{66,66}</string>
                <key>spriteSourceSize</key>
                <string>{68,68}</string>
                <key>textureRect</key>
                <string>{{731,442},{66,66}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gem_pink.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{66,66}</string>
                <key>spriteSourceSize</key>
                <string>{68,68}</string>
                <key>textureRect</key>
                <string>{{186,365},{66,66}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gem_red.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{66,66}</string>
                <key>spriteSourceSize</key>
                <string>{68,68}</string>
                <key>textureRect</key>
                <string>{{254,365},{66,66}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gem_white.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{70,61}</string>
                <key>spriteSourceSize</key>
                <string>{70,61}</string>
                <key>textureRect</key>
                <string>{{731,302},{70,61}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>gem_yellow.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{66,66}</string>
                <key>spriteSourceSize</key>
                <string>{68,68}</string>
                <key>textureRect</key>
                <string>{{322,365},{66,66}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gemsScore.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{167,39}</string>
                <key>spriteSourceSize</key>
                <string>{167,39}</string>
                <key>textureRect</key>
                <string>{{618,261},{167,39}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>introCharacter.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-3}</string>
                <key>spriteSize</key>
                <string>{362,412}</string>
                <key>spriteSourceSize</key>
                <string>{362,418}</string>
                <key>textureRect</key>
                <string>{{1,1},{362,412}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>playBtn.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{183,69}</string>
                <key>spriteSourceSize</key>
                <string>{183,69}</string>
                <key>textureRect</key>
                <string>{{1,365},{183,69}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>playBtnOver.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,2}</string>
                <key>spriteSize</key>
                <string>{179,65}</string>
                <key>spriteSourceSize</key>
                <string>{183,69}</string>
                <key>textureRect</key>
                <string>{{730,1},{179,65}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>ptero_frame1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-8,-13}</string>
                <key>spriteSize</key>
                <string>{186,110}</string>
                <key>spriteSourceSize</key>
                <string>{202,136}</string>
                <key>textureRect</key>
                <string>{{618,1},{186,110}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>ptero_frame2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,11}</string>
                <key>spriteSize</key>
                <string>{202,92}</string>
                <key>spriteSourceSize</key>
                <string>{202,136}</string>
                <key>textureRect</key>
                <string>{{415,359},{202,92}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ptero_frame3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,13}</string>
                <key>spriteSize</key>
                <string>{182,110}</string>
                <key>spriteSourceSize</key>
                <string>{202,136}</string>
                <key>textureRect</key>
                <string>{{619,302},{182,110}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>timeBar.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{581,28}</string>
                <key>spriteSourceSize</key>
                <string>{581,28}</string>
                <key>textureRect</key>
                <string>{{1,453},{581,28}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>timeBarBg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{581,27}</string>
                <key>spriteSourceSize</key>
                <string>{581,27}</string>
                <key>textureRect</key>
                <string>{{1,483},{581,27}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>dlist.png</string>
            <key>size</key>
            <string>{798,511}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:a63022030e004153deceaac292aec4a1:15a7af31570fe9c023429a3ec80b84e9:60addf9ae60c68fcac7c9ae5b48fe29a$</string>
            <key>textureFileName</key>
            <string>dlist.png</string>
        </dict>
    </dict>
</plist>
