<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>cancel.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{302,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{302,92}}</string>
                <key>sourceSize</key>
                <string>{302,92}</string>
            </dict>
            <key>continue.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,96},{302,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{302,92}}</string>
                <key>sourceSize</key>
                <string>{302,92}</string>
            </dict>
            <key>goback.png</key>
            <dict>
                <key>frame</key>
                <string>{{306,2},{302,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{302,92}}</string>
                <key>sourceSize</key>
                <string>{302,92}</string>
            </dict>
            <key>icon_back.png</key>
            <dict>
                <key>frame</key>
                <string>{{1522,2},{88,88}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{88,88}}</string>
                <key>sourceSize</key>
                <string>{90,90}</string>
            </dict>
            <key>icon_menu.png</key>
            <dict>
                <key>frame</key>
                <string>{{1612,2},{88,88}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{88,88}}</string>
                <key>sourceSize</key>
                <string>{90,90}</string>
            </dict>
            <key>icon_quit.png</key>
            <dict>
                <key>frame</key>
                <string>{{1522,92},{88,88}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{88,88}}</string>
                <key>sourceSize</key>
                <string>{90,90}</string>
            </dict>
            <key>icon_replay.png</key>
            <dict>
                <key>frame</key>
                <string>{{1612,92},{88,88}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{88,88}}</string>
                <key>sourceSize</key>
                <string>{90,90}</string>
            </dict>
            <key>ok.png</key>
            <dict>
                <key>frame</key>
                <string>{{306,96},{302,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{302,92}}</string>
                <key>sourceSize</key>
                <string>{302,92}</string>
            </dict>
            <key>online.png</key>
            <dict>
                <key>frame</key>
                <string>{{610,2},{302,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{302,92}}</string>
                <key>sourceSize</key>
                <string>{302,92}</string>
            </dict>
            <key>options.png</key>
            <dict>
                <key>frame</key>
                <string>{{610,96},{302,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{302,92}}</string>
                <key>sourceSize</key>
                <string>{302,92}</string>
            </dict>
            <key>play.png</key>
            <dict>
                <key>frame</key>
                <string>{{914,2},{302,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{302,92}}</string>
                <key>sourceSize</key>
                <string>{302,92}</string>
            </dict>
            <key>player1.png</key>
            <dict>
                <key>frame</key>
                <string>{{914,96},{302,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{302,92}}</string>
                <key>sourceSize</key>
                <string>{302,92}</string>
            </dict>
            <key>player2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1218,2},{302,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{302,92}}</string>
                <key>sourceSize</key>
                <string>{302,92}</string>
            </dict>
            <key>quit.png</key>
            <dict>
                <key>frame</key>
                <string>{{1218,96},{302,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{302,92}}</string>
                <key>sourceSize</key>
                <string>{302,92}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>images.png</string>
            <key>size</key>
            <string>{1702,190}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:30f1dafa76bca4f1b62a060a8300cb12:3d28604c0bc284adb5055e3fd36bd70b:e1a9b31caf258d7c92150a6ccbde6fbd$</string>
            <key>textureFileName</key>
            <string>images.png</string>
        </dict>
    </dict>
</plist>
