<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bomb.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{23,30}</string>
                <key>spriteSourceSize</key>
                <string>{23,30}</string>
                <key>textureRect</key>
                <string>{{35,119},{23,30}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mute.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{28,28}</string>
                <key>spriteSourceSize</key>
                <string>{28,28}</string>
                <key>textureRect</key>
                <string>{{35,1},{28,28}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>pause.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{29,29}</string>
                <key>spriteSourceSize</key>
                <string>{29,29}</string>
                <key>textureRect</key>
                <string>{{1,151},{29,29}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>pause_pressed.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{29,29}</string>
                <key>spriteSourceSize</key>
                <string>{29,29}</string>
                <key>textureRect</key>
                <string>{{32,151},{29,29}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>play.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{27,27}</string>
                <key>spriteSourceSize</key>
                <string>{29,29}</string>
                <key>textureRect</key>
                <string>{{35,61},{27,27}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>play_pressed.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{27,27}</string>
                <key>spriteSourceSize</key>
                <string>{29,29}</string>
                <key>textureRect</key>
                <string>{{35,90},{27,27}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>player.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{32,63}</string>
                <key>spriteSourceSize</key>
                <string>{32,63}</string>
                <key>textureRect</key>
                <string>{{1,1},{32,63}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>player2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{32,63}</string>
                <key>spriteSourceSize</key>
                <string>{32,63}</string>
                <key>textureRect</key>
                <string>{{1,66},{32,63}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>unmute.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{28,28}</string>
                <key>spriteSourceSize</key>
                <string>{28,28}</string>
                <key>textureRect</key>
                <string>{{35,31},{28,28}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>sprite_sheet.png</string>
            <key>size</key>
            <string>{64,181}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:6ebcfab14a7e59c1eb78daa22377f74c:2bb4d813bbacb7b5fcf282061d43225e:60addf9ae60c68fcac7c9ae5b48fe29a$</string>
            <key>textureFileName</key>
            <string>sprite_sheet.png</string>
        </dict>
    </dict>
</plist>
